body{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(31, 31, 31, 0)), url(images/background3.png);
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    color: aliceblue;
    width: 99.5%;
    height: 1200px;
    max-height: 50vw;
  
  }

.button-back{
    background-color: transparent;
    color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    height: 50px;
    width: 100px;
    border-radius:10px;
    margin-left: 15px;
    position: relative;
    top: -15px;
}

.button-back:hover{
    background-color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    color: #ffffff;
    
}

.logo{
    width: 50px;
    height: 50px;
    position: relative;
    right: -5px;
    top: -5px;

}

.navbar{
    flex-direction: row;
    height: 80px;
    position: fixed;
}



.commander{
    position: relative;
    max-height: 200px;
    margin-left: 10%;
    top: -7px;
}

.card-left{

    
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(20px);
    border-radius: 90px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    padding-left: 75px;
    
    border: 1.5px solid white;
    width: 55vw;
    height: 150vw;
    position:relative;
    margin-left: 30px;
}

.card-right{

    
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(20px);
    border-radius: 90px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    
    border: 1.5px solid white;
    width: 30vw;
    min-height: 15vw;
    position:relative;
    right: -65vw;
    top: -150vw; /* top doit être l'exact opposé a la taille du tableau de gauche pour qu'il soit en haut */

    padding-left: 30px;
    padding-right: 30px;
    .note-container{
        height: 30vw;
    }

    
    
}
.container-fluid{
    padding-top: 20px;
}


hr{
    position: relative;
    top: 0vw;
}

p{
    position: relative;
    top: 0vw;
    margin-left: 15px;
    font-size: 20px;
}

.inter{
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;

}

.plat-img{
    height: 150px;
    width: 150px;
}

.card-plat{
    margin-top: 20px;
}


.button-payer{
    background-color: transparent;
    color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    height: 50px;
    width: 100px;
    border-radius:10px;
    margin-left: 15px;
    position: relative;
    top: 0vw;
    left: 35%;
}

.button-payer:hover{
    background-color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    color: #ffffff;
    
}

.button-add{
    background-color: transparent;
    color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    height: 30px;
    width: 30px;
    border-radius:10px;
    
    position: relative;
    left: 25%;
    
}

.button-add:hover{
    background-color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    color: #ffffff;
    
}

.remove-btn{
    background-color: transparent;
    color: #CB0C0C;
    border: 2px solid #CB0C0C;
    transition: 0.5s;
    height: 35px;
    width: 100px;
    border-radius:10px;
    margin-left: 15px;
    position: relative;
    top: 0vw;
    left: 35%;
}



